@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  background-color: #101418;
}
.tiptap p {
  background-color: white;
}
.ProseMirror {
  background-color: white !important;
  color: black !important;
}

.image-wrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.image-wrapper:hover::after {
  content: attr(data-href);
  position: absolute;
  bottom: -20px;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 2px 4px;
  font-size: 12px;
  border-radius: 3px;
}

.carousel .control-dots .dot {
  background: transparent !important;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}

.carousel .control-dots .dot.selected {
  background: #fff !important;
}

p {
  size: 70dp;
}
.tiptap h1 {
  font-size: 3rem;
  line-height: 1;
}

@layer components {
  .itemNeu {
    border-radius: 16px;
    background: #101418;
    -webkit-box-shadow: 20px 20px 60px #060709, -20px -20px 60px #1a1f27;
    box-shadow: 5px 5px 10px #060709, -2px -2px 4px #1a1f27;
  }

  .whiteNeu {
    border-radius: 53px;
    background: #e0e0e0;
    box-shadow: inset 50px 50px 100px #949494, inset -50px -50px 100px #ffffff;
  }
}
